<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Humancredit - Category {{ entity.id }} - Banner {{ banner.id }}</title>
        <style type="text/css">
            * {
                margin: 0;
                padding: 0;
                border: 0;
            }

            .hide {
                display: none;
            }

            img {
                display: block;
            }
        </style>
    </head>

    <body>
        <a target="_top" href="{{ signedLink }}">
            <img alt="id '{{ banner.id }}', ct '{{ banner.category }}', br '{{ banner.brand }}', cp '{{ banner.campaign }}'" width="940" height="250" src="{{ signedImage }}" />
        </a>
        <a href="{{ signedFeedback }}" class="hide">Feedback</a>
    </body>
</html>