{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
<h2>Category</h2>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ entity.title }}</td>
        </tr>
        <tr>
            <th>Slug</th>
            <td>{{ entity.slug }}</td>
        </tr>
    </tbody>
</table>

<hr />

<h3>Random Banner(id: {{ banner.id }})</h3>

<p>
    <img src="{{ signedUrl }}" />
</p>

<ul class="record_actions">
    <li>
        <a href="{{ path('category') }}"> Back to the list </a>
    </li>
</ul>
{% endblock %}
