{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
<h2>Banner List</h2>

<div class="col-75">
    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Category</th>
                <th>Brand</th>
                <th>Views</th>
                <th>Clicks</th>
                <th>Feedbacks</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
            <tr id="entity-{{ entity.id }}">
                <td><a href="{{ path('banner_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td class="label">{{ entity.title }}</td>
                <td>{{ entity.category }}</td>
                <td>{{ entity.brand }}</td>
                <td class="count">{{ entity.logs|length }}</td>
                <td>{{ entity.clicks|length }}</td>
                <td>{{ entity.feedbacks|length }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('banner_show', { 'id': entity.id }) }}">show</a>
                    </li>
                </ul></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="col-25">
    <canvas id="chart"></canvas>
</div>

{% endblock %}
